html {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: unset;
}
img {
  max-width: 100%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 15% 25%, rgba(46, 29, 100, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 15% 25%, rgba(46, 29, 100, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 15% 25%, rgba(46, 29, 100, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 15% 25%, rgba(46, 29, 100, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 15% 25%, rgba(46, 29, 100, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);
  min-height: 100vh;
}
.app {
  max-width: 75rem;
  margin: 0 auto;
}
.section__padding {
  padding: 4rem 2rem;
}
.section__margin {
  margin: 4rem 2rem;
}
.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
